fastapi
uvicorn
python-dotenv
psycopg2-binary
langchain-community
langchain-openai
langchain-chroma
langchain
langchain-core
chromadb
pypdf
cryptography
python-multipart
streamlit
langchain-text-splitters
langchain-classic
azure-core
azure-storage-blob
azure-identity
azure-keyvault-secrets